@page "/"
@namespace ContinuousImprovement.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ContinuousImprovement</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link rel="icon" href="~/img/icon/pageicon.png" />
    @*<img src="~/img/icon/pageicon.png" />*@
    <!--external css-->
    <link href="~/fonts/fontawesome-free-5.12.1-web/css/fontawesome.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
    <!-- Reference the included moment.js javascript file. -->
    <script src="_content/ChartJs.Blazor/moment-with-locales.min.js" type="text/javascript" language="javascript"></script>

    <!-- Reference the included ChartJs javascript file. -->
    <script src="_content/ChartJs.Blazor/Chart.min.js" type="text/javascript" language="javascript"></script>

    <!-- This is the glue between the C# code and the ChartJs charts -->
    <script src="_content/ChartJs.Blazor/ChartJsBlazorInterop.js" type="text/javascript" language="javascript"></script>

    <!-- Some styling -->
    <link rel="stylesheet" href="_content/ChartJs.Blazor/ChartJSBlazor.css" />

    <!--Link to radzen blazor to upload file-->
    @*<link href="_content/Radzen.Blazor/css/default.css" rel="stylesheet"/>*@
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>

    @* MOdal blazor *@
    <link href="_content/Blazored.Modal/blazored-modal.css" rel="stylesheet" />
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <script src="~/fonts/fontawesome-free-5.12.1-web/js/fontawesome.js"></script>
    <script src="~/fonts/fontawesome-free-5.12.1-web/js/all.js"></script>
    <script src="_framework/blazor.server.js"></script>
    <script src="_content/BlazorInputFile/inputfile.js"></script>

</body>
</html>
