@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #21324a;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

        .main .top-row a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

.sidebar {
    /*background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);*/
    /*background-image: linear-gradient(180deg, rgb(5, 92, 103) 0%, #0bbd9c 70%);*/
    /*background-image: linear-gradient(45deg, rgb(233, 225, 235) 0%, #192536 70%);*/
    background-color: #f0f2f5;
}

    .sidebar .top-row {
        background-color: #21324a;
        height: 3.47rem;
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(202, 207, 206,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(202, 207, 206,0.25);
                color: white;
            }

.sidebarleft {
    /*background-image: linear-gradient(180deg, rgb(5, 92, 103) 0%, #0bbd9c 70%);*/
    /*background-image: linear-gradient(45deg, rgb(233, 225, 235) 0%, #192536 90%);*/
    /*background-image: linear-gradient(180deg, rgb(5, 92, 103) 0%, #0bbd9c 70%);*/
    background-color: #f0f2f5;
}

    .sidebarleft .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebarleft .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebarleft .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebarleft .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebarleft .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebarleft .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebarleft .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebarleft .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebarleft .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.content {
    /*padding-top: 1.1rem;*/
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .sidebarleft {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .sidebarleft .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    #myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

        #myImg:hover {
            opacity: 0.7;
        }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    /* Modal Content (image) */
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    /* Caption of Modal Image */
    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }

    /* Add Animation */
    .modal-content, #caption {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @-webkit-keyframes zoom {
        from {
            -webkit-transform: scale(0)
        }

        to {
            -webkit-transform: scale(1)
        }
    }

    @keyframes zoom {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1)
        }
    }

    /* The Close Button */
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px) {
        .modal-content {
            width: 100%;
        }
    }
    /* Container holding the image and the text */
    .container {
        position: relative;
        text-align: center;
        color: white;
    }

    /* Bottom left text */
    .bottom-left {
        position: absolute;
        bottom: 8px;
        left: 16px;
    }

    /* Top left text */
    .top-left {
        position: absolute;
        top: 8px;
        left: 16px;
    }

    .top-left-center {
        position: absolute;
        left: 16px;
    }
    /* Top right text */
    .top-right {
        position: absolute;
        top: 8px;
        right: 16px;
    }
}

    .progressbar {
        counter-reset: step;
        padding: 0;
        /* for demo */
        margin: 100px auto 0;
        max-width: 800px;
    }

        .progressbar li {
            float: left;
            list-style: none;
            position: relative;
            text-align: center;
            width: calc(100% / 6);
        }

            .progressbar li:before {
                background: #fff;
                border: 1px solid #bebebe;
                border-radius: 50%;
                color: #bebebe;
                content: counter(step);
                counter-increment: step;
                display: block;
                font-weight:100;
                height: 20px;
                line-height: 18px;
                margin: 0 auto 2px;
                text-align: center;
                width: 20px;
            }

            .progressbar li:after {
                background: #979797;
                content: '';
                height: 1.5px;
                left: -50%;
                position: absolute;
                top: 10px;
                width: 100%;
                z-index: -1;
            }

            .progressbar li:first-child:after {
                content: none;
            }

            .progressbar li.active:after,
            .progressbar li.complete:after {
                background: #3aac5d;
            }

            .progressbar li.active:before,
            .progressbar li.complete:before {
                background: #3aac5d;
                border-color: #3aac5d;
                color: #fff;
            }

            .progressbar li.active {
                color: #3aac5d;
                font-weight: 700;
            }


/*Customize scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c4cbd4;
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #424d5c;
    }


